.historySection {
  background-image: url('/images/Ellipse.webp');
  background-size: contain;
  background-position: center 0;
  background-repeat: no-repeat;
}
.list {
  display: grid;
  gap: 40px;
}