.section__support {
  padding-top: 96px;
  @media screen and (min-width: 1024px) {
    padding-top: 140px;
  }
}
.support__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 48px;
  & > div {
    @media screen and (min-width: 1024px) {
      width: 50%;
    }
  }
}
.list {
  list-style-type: disc;
  padding-left: 20px;
}

.supportImg {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
    width: 280px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    width: 420px;
  }
}
