.section__support {
  padding-top: 96px;
  @media screen and (min-width: 1024px) {
    padding-top: 140px;
  }
}
.support__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.list {
  list-style-type: disc;
  padding-left: 20px;
}

.supportImg {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
    width: 280px;
  }
  @media screen and (min-width: 1440px) {
    width: 420px;
  }
}
