@import "../../styles/vars";

.section {
  position: relative;
  padding: 340px 0 120px;
  background: url("/images/hero-mob.webp");
  background-size: 310px auto;
  background-position: top 83px right 50%;
  background-repeat: no-repeat;

  @media screen and (max-width: 370px) {
    background-size: 220px auto;
    padding: 270px 0 120px;

  }
  @media screen and (min-width: 576px) {
    padding: 437px 0 120px;
    background-size: 372px auto;
    background-position: top 93px right 50%;
  }
  @media screen and (min-width: 1024px) {
    padding: 155px 0 202px;
    background-position: top 63px right 0;
  }
  @media screen and (min-width: 1200px) {
    background: url("/images/hero-img.webp");
    background-repeat: no-repeat;
    background-size: 646px auto;
    background-position: top 92px right 0;
  }
  @media screen and (min-width: 1440px) {
    background-position: top 98px right calc((100vw - 1330px) / 2);
  }
}
.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
  z-index: 2;
  & p {
    line-height: normal;
  }
  @media screen and (min-width: 576px) {
    padding: 0 40px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0 160px;
  }
}
.title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Desktop/Welcome */
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: normal;
  color:#ffffff;
  margin-bottom: 40px;
  letter-spacing: 0.2rem;

  display: none;
  @media screen and (min-width: 420px) {
    font-size: 56px;
  }
  @media screen and (min-width: 768px) {
    display: block;
    font-size: 64px;
    margin-bottom: 48px;
  }
}
.text {
  color: $third-text-color;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;

  @media screen and (max-width: 370px) {
    font-size: 20px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
  font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
    text-align: start;

  }
  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 48px;
  }
}
.wrapper .button {
  width: 256px;
  @media screen and (min-width: 1200px) {
    width: 283px;
    height: 87px;
  }
}
