//vars
$text-color: #ffffff;
$secondary-text-color: hsla(0, 0%, 100%, 0.34);
$third-text-color: #f6f2ff;
$bg-color: #31034d;
$secondary-bg-color: #210233;
$accent-color: linear-gradient(180deg, #00ff6d 0%, #009941 100%);
$card-bg-color: #7a13b8;
$bg-btn: linear-gradient(180deg, #ff0092 0%, #d2057b 100%);
$second-bg-color: linear-gradient(180deg, #00ff6d 0%, #009941 100%);
