//vars
$text-color: #040A10;
$secondary-text-color: hsla(0, 0%, 100%, 0.34);
$third-text-color: #ffffff;
$bg-color: #071019;
$secondary-bg-color: #040A10;
$accent-color: linear-gradient(180deg, #E8003C 0%, #9E0003 100%);
$card-bg-color: #9C9DBA99;
$bg-btn: linear-gradient(180deg, #0046FF 0%, #000A9D 100%);
$second-bg-color: #F0BD30;
