//vars
$text-color: #ffffff;
$secondary-text-color:hsla(0, 0%, 100%, 0.34);
$third-text-color:#F6F2FF;
$bg-color: #31034D;
$secondary-bg-color: #210233;
$accent-color: linear-gradient(180deg, #00FF6D 0%, #009941 100%);
$card-bg-color: #7A13B8;
$bg-btn: linear-gradient(180deg, #FF0092 0%, #D2057B 100%);
$second-bg-color: linear-gradient(180deg, #00FF6D 0%, #009941 100%);
