.historySection {
  padding-top: 40px;
  background-image: url("/images/bg.webp");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}
.list {
  display: -ms-grid;
  display: grid;
  gap: 40px;
}
.title__small {
  font-size: 24px;
}
.pay__list {
  padding-left: 20px;
  list-style-type: disc;
}
.adventList {
  margin-left: 32px;
  list-style: disc;
}
.firstRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
  @media screen and (min-width: 1024px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 51px;
    & img {
      width: 464px;
      height: auto;
    }
  }
  @media screen and (min-width: 1440px) {
    gap: 141px;
  }
}
.aboutLaptop {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
