@import "../../styles/vars";
.historySection {
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
  background: $second-bg-color;
  //background-size: cover;
  //background-position: center 0;
  //background-repeat: no-repeat;

  @media screen and (min-width: 1024px) {
    padding-left: 0px;
    padding-right: 0px;

    & .flex{
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }
  }
}
.list {
  display: -ms-grid;
  display: grid;
  gap: 40px;
}
.title__small {
  font-size: 24px;
  @media screen and (min-width: 1024px) {
    font-size: 40px;
    margin-bottom: 24px;
  }
}
.pay__list {
  padding-left: 20px;
  list-style-type: disc;
}
.steps {
  list-style: decimal;
  padding-left: 20px;
}
.adventList {
  margin-left: 32px;
  list-style: disc;
}
.firstRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
  @media screen and (min-width: 1024px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
    & img {
      //width: 464px;
      width: 650px;
      height: auto;
    }
  }
  @media screen and (min-width: 1440px) {
    gap: 5px;
  }
}
.aboutLaptop {
  width: 709px;
  max-width: none;
  height: auto;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
