@import "../../styles/vars";
.section__games {
  padding-top: 96px;
  @media screen and (min-width: 1024px) {
    padding-top: 140px;
  }
}
.list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 48px;
  }
}

.cardBox {
  width: 250px;
  height: 140px;
  perspective: 1000px; /* Глубина перспективы */
  @media screen and (min-width: 550px) {
    width: 240px;
    height: 128px;
  }
  @media screen and (min-width: 1024px) {
    width: 264px;
    height: 142px;
  }
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.5s; /* Плавное переходное свойство для анимации поворота */
  transform-style: preserve-3d; /* Сохраняем 3D-пространство */
}

.card:hover .cardBack {
  transform: scale(1.05);
  opacity: 1;
}

.cardFront,
.cardBack {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Скрытие обратной стороны карточки */
}

.cardFront {
  & img {
    width: 100%;
    height: 100%;
  }
}

.cardBack {
  border: 2px solid #f6f2ff;
  width: 100%;
  color: $third-text-color;
  background-color: $card-bg-color; /* Цвет обратной стороны */
  opacity: 0;
  transition: all 250ms ease-in-out;
  & p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  & a {
    padding: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    color: $third-text-color;
    @media screen and (min-width: 1024px) {
      font-size: 24px;
    }
  }
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  & span img {
    width: 29px;
    height: auto;
    @media screen and (min-width: 1024px) {
      width: 32px;
    }
  }
}
