.historySection {
  padding-top: 96px;

  @media screen and (min-width: 1024px) {
    padding-top: 140px;
  }
}
.list {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  @media screen and (min-width: 1024px) {
    gap: 48px;
  }
}
.section__mainTitle {
  font-size: 24px;
  @media screen and (min-width: 1200px) {
    font-size: 56px;
  }
}
.adv__list {
  list-style-type: disc;
  padding-left: 20px;
}
.section__title {
  font-size: 16px;

  @media screen and (min-width: 400px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 24px;
  }
}

.section__grid {
  & ul:first-of-type {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 380px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 20px;
    & ul:first-of-type {
      margin-bottom: 0;
    }
    & div {
      width: 45%;
    }
  }
  @media screen and (min-width: 577px) {
    & div {
      width: 40%;
    }
    gap: 56px;
  }
  @media screen and (min-width: 1024px) {
    & div {
      width: 250px;
    }
  }
}
