@import "../../styles/vars";

.card {
  height: 100%;
  min-width: 240px;
  max-width: 240px;
  width: 100%;
  padding: 16px;
  border: 2px solid #f6f2ff;

  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  background-color: $card-bg-color;
  text-align: center;

  & p {
    line-height: normal;
  }
  & .btn {
    width: 202px;
  }
  @media screen and (min-width: 1024px) {
    padding: 32px 22px;
    min-width: 260px;
    max-width: 260px;
  }
}
.card__logo {
  width: 160px;
  height: 60px;
  margin: 0 auto;
  @media screen and (min-width: 1024px) {
    width: 190px;
    height: 76px;
  }
}
.card__name {
  display: none;
  color: $third-text-color;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}
.card__title {
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: -8px;
}

.bonus {
  color: $third-text-color;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: auto;
  margin-top: -8px;
  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
}
