@import "../../styles/vars";
.mobileSection {
  padding-top: 64px;
  background:$second-bg-color;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  position: relative;
}
.section__mainTitle {
  width: 80%;
  margin-bottom: 24px;

  @media screen and (min-width: 510px) {
    width: 70%;
    & + p {
      width: 75%;
    }
  }
  @media screen and (min-width: 577px) {
    width: 65%;
    & + p {
      width: 70%;
    }
  }
  @media screen and (min-width: 600px) {
    & + p {
      width: 75%;
    }
  }
  @media screen and (min-width: 1024px) {
    font-size: 40px;
    width: 85%;
    & + p {
      width: 100%;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 85%;
    margin-bottom: 48px;
  }
}
.section__title {
  font-size: 18px;
  @media screen and (min-width: 400px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 40px;
    margin-bottom: 24px;
  }
}
.wrapper {
  margin-bottom: 100px;
  display: grid;
  gap: 55px;
  & p {
    margin-bottom: 40px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 48px;
    }
  }
}
.linkList {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.phoneImg {
  position: static;
  width: 482px;
  height: auto;
  //position: absolute;
  margin: 0 auto;
  top: -101px;
  right: 0;
  z-index: 10;
  @media screen and (min-width: 340px) {
    width: 75%;
  }
  @media screen and (min-width: 577px) {
    top: -151px;
    width: 507px;
  }
  @media screen and (min-width: 1024px) {
    top: -87px;
    right: 0;
    width: 515px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: -27px;
    width: 536px;
    right: 56px;
  }
  @media screen and (min-width: 1440px) {
    right: calc(50% - 600px);
  }

}
.infoList {
  display: grid;
  gap: 40px;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 50% 50%;
    align-items: end;
    margin-bottom: 0;
  }
  .linkList {
    justify-content: flex-start;
    margin-left: 0;
    margin-bottom: 48px;
    gap: 24px;

    & a {
      width: 175px;
      height: 52px;
    }

    & a img {
      width: 175px;
      height: 52px;
    }
  }
}
