.mobileSection {
  background-image: url('/images/Ellipse.webp');
  background-size: contain;
  background-position: center 0;
  background-repeat: no-repeat;

}
.wrapper {
  margin-bottom: 100px;
  display: grid;
  //flex-direction: column;
  gap: 55px;
  & p {
    margin-bottom: 40px;
  }
}
.linkList {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.phoneImg {
  margin: 0 auto;
}
.infoList {
  display: grid;
  gap: 40px;
  @media screen and (min-width: 1024px){
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    grid-template-columns: 65% 35%;
    align-items: end;
  }
  .linkList {
    margin-bottom: 50px;
  }
}